.mat-table {
    width: auto;
    margin: 0 auto;
    min-width: 430px;
}
.mat-row {
    height: 30px;
}

.mat-cell {
    font-size: 12px;
    width: 18%
}
.highlited {
  background-color: aquamarine
}
