.charts-wrapper {
    width: 50%;
    margin: 0 auto;
}

.mat-raised-button {
    left: 35%;
    margin: 30px;
    width: 150px;
    background-color: #079c28;
    color: #fff;
    font-size: 1.5em;
    font-family: monospace;
}

.time-counter, .finished-counter {
    width: 200px;
    height: 90x;
    font-family: monospace;
    border-radius: 25px;
    padding: 19px;
    color: #fff;
    margin-top: 20px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.42);
}

.time-counter {
    background-color: #67ade8;
    font-size: 18px;
    text-align: center;
    padding-top: 27px;


}

.finished-counter {
    background-color: #67ade8;
    font-size: 16px;
}

.finished-counter div:nth-child(1) {
    text-align: center;
}

.finished-counter div:nth-child(2) {
    width: 40%;
    margin: 0 auto;
}

.information-wrapper {
    display: flex;
    justify-content: space-around;
}

h1 {
  font-size: 2em;
}

.mat-raised-button:hover {
  opacity: .7;
}
