.charts-wrapper {
    width: 50%;
    margin: 0 auto;
}

.mat-raised-button {
    left: 35%;
    margin: 30px;
    width: 150px;
    background-color: #079c28;
    color: #fff;
    font-size: 1.5em;
    font-family: monospace;
}

.time-counter, .finished-counter {
    width: 300px;
    height: 150px;
    font-size: 1.5em;
    font-family: monospace;
    border: 1px solid #e8dede;
    border-radius: 25px;
    padding: 42px;
    color: #fff;
}

.time-counter {
    background-color: #67ade8;
    font-size: 35px;

    
}

.finished-counter {
    background-color: #67ade8;
    font-size: 20px;  
}

.finished-counter div:nth-child(1) {
    text-align: center;
}

.finished-counter div:nth-child(2) {
    width: 33%;
    margin: 0 auto;
}

.information-wrapper {
    display: flex;
    justify-content: space-around;
}