<table mat-table [dataSource]="dataSource">
  
  <ng-container matColumnDef="sportsmanName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let sportsman"> {{sportsman.name}} </td>
  </ng-container>

  <ng-container matColumnDef="sportsmanLastname">
    <th mat-header-cell *matHeaderCellDef> Lastname </th>
    <td mat-cell *matCellDef="let sportsman"> {{sportsman.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="finishing">
    <th mat-header-cell *matHeaderCellDef> Finishing </th>
    <td mat-cell *matCellDef="let sportsman"> {{sportsman.finishing}} </td>
  </ng-container>

  <ng-container matColumnDef="crossed">
    <th mat-header-cell *matHeaderCellDef> Crossed </th>
    <td mat-cell *matCellDef="let sportsman"> {{sportsman.crossed}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

</table>
